<div class="form-container">
  <mat-card class="form-card">
    <form>
      <div class="login-title">Login</div>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" name="username" >
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" >
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
  
      <div>
        <button mat-raised-button color="primary" class="loginbtn" (click)="onSubmit()" >Login</button>
        
      </div>
    </form>
    
    <div class="newregister">
      <p>Havent Registered yet? <span><a mat-button routerLink="/register">Create an account</a></span></p>
    </div>

    <div>
      <button mat-raised-button color="warn" class="logoutbtn" (click)="logout()">Logout</button>
    </div>

  </mat-card>
      
</div>


